<div class="container">
  <div class="name">Lou De Baere</div>

  <div class="welcome-text">
    <div class="welcome-line">Bienvenue sur</div>
    <div class="welcome-line">
      mon <span class="portfolio-highlight">portfolio</span> ;)
    </div>
  </div>

  <div class="boutons-accueil">
    <button (click)="navigateTo('/a-propos')">En savoir plus sur moi</button>
    <button (click)="navigateTo('/competences')">Mes compétences</button>
    <button (click)="navigateTo('/projets')">Voir mes réalisations</button>
    <button (click)="navigateTo('/contact')">Me contacter</button>
  </div>
</div>
